main{
    height:90vh;
    margin-top:120px;
    padding: 100px 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
        background-color: #FAD2E5;
   

}

main .conteudo-titulo{
    display: flex;
    flex-direction: column;
    max-width:750px;
    gap: 24px;
    margin-top:80px;
 
}
.reciclaveis{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 160px;
}



.retangulo{
max-width: 500px;
height: 247px;
display: flex;
justify-content: center;
align-items: center;
background-color:#D3F1BF;
text-align: center;
border-radius:0px 24px 24px 24px;
position: relative;
padding: 52px;
}

.retangulo h2{
  color: var(--textcolor);
  font-size: 24px;
  width: 242px;
  font-weight: 500;
}

.retangulo img{
width: 66px;
height: 71px;
z-index: 2;
  position: absolute;
      top: 17px;
      left: 20px;
}

.retangulo .bolinhas{
  width:75px ;
  height: 75px;
}

.atras{
  width: 125px;
  height: 118px;
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 0 32px 32px 32px;
  z-index: 1;
  background-color: var(--verdeantigo);
}
 

.materiais p{
  margin-left:160px;
  margin-top:42px;
  margin-bottom:42px;
  color: var(--textcolor);
  font-size:24px;
}

.atras2{
  background-color:#A3D283;
}



main .divajuda{
    display: flex;
    gap:80px;
}

/*Botão*/

.button2 {
  appearance: button;
  max-width: 600px;
  height: 50px;
  background-color:#d83372;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  overflow: visible;
  padding: 15px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  white-space: nowrap;

 }
 
.button2:after {
  background-clip: padding-box;
  background-color:var(--titulorosa);
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
 }
 

 .button2:hover:not(:disabled) {
  filter: brightness(1.1);
 }
 
  .button2:disabled {
  cursor: auto;
 }
 
  .button2:active:after {
  border-width: 0 0 0px;
 }
 
 .button2:active {
  padding-bottom: 10px;
 }

 .conteudo .tit{
  margin-left: 20px;
 }


.conteudo-titulo h2{
    font-size: 36px;
    font-weight: 600;
    color:#FE5F99;
}

.conteudo-titulo p{
width: 100%;
max-width: 600px;
font-size: 24px;
line-height: 36px;
text-align: left;
}

/*Button*/

.cssbuttons-io-button {
    background: #FE5F99;
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
    width: 282px;
    height: 54px;
    text-align: center;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 4.2em;
    border-radius: 0.7em;
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }


  

  .cssbuttons-io-button .icon svg {
    width: 4.1em;
    transition: transform 0.3s;
    color: #0ea34c;
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  #img-pro{
    position: relative;
    z-index: 2;
    position:relative;
    left:160px;
    bottom:-50px;
  }


  .magicpattern { 
    max-height: 800px !important;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat;
    position:relative;
    bottom:350px;
    left:160px;
    z-index: 1;
  
  }

  .sessoes{
    display: flex;
    flex-direction: column;
    gap:90px;
  }
  /*Músicas*/

  .conteudo{
background-color: var(--fundo2);
  }

  .content{
    display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
gap:15px;
  }

  .conteudo-msc{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap:40px;
    padding: 50px;
  }

  .conteudo-msc figcaption{
text-align: center;
text-decoration: none;
font-weight:500;
font-size: 30px;
color:var(--titulorosa);


  }

  .redes{
    display: flex;
    flex-wrap: wrap;
  }


  .conteudo h2{
    font-size: 35px;
color: var(--tituloverde);
margin-top:20px;
margin-left:110px !important;
font-weight: 600;
  }

  /*Artesanatos*/
.imagens{
  display: flex;
  flex-direction:row;
  flex-wrap: wrap;
  gap:50px !important;
}


.tit-mu{
  color: var(--titulorosa) !important;
  margin-top:50px !important;
  font-weight: bold;
}

.imagens .boneca{
  width: 425px;
  height: 493px;
  border-radius:20px;
  object-fit: cover;
}

/*Poesias*/

.poesias{
height: 100vh;
}

.tit-m{
  color:var(--marrom) !important;
}



  /*Responsividade*/
  
 /* Estilos para telas menores (ex: smartphones) */
@media (max-width: 768px) {
main{
  max-width: 100vw !important;
  height: 100vh;
}

.ft{
margin-top:19rem;
}

.reciclaveis{
  gap: 20px;
  padding: 30px;
}

.materiais{
  padding: 30px;
}
.retangulo{
  max-width: 400px;
  }
  
  .retangulo h2{
    color: var(--textcolor);
    font-size: 19px;
    width: 202px;
  }

  .mat-texto{
    display: none;
  }
  
  .retangulo img{
  width: 66px;
  height: 71px;
  z-index: 2;
    position: absolute;
        top: 17px;
        left: 20px;
  }


.footer{
margin-top:300px;
}

.button2 {
  font-size: 0.8rem; /* Ajuste o tamanho da fonte conforme necessário */
  white-space: normal; /* Permitir que o texto quebre nas linhas */
  height: 99px;
}

#poesias{
  margin-bottom: 500px;
}
.imagens{
gap:20px !important;
}

#img-pro{
  width: 250px;
  height: 300px;
}
.main-projeto-img{
  display: flex;
  justify-content: center;
  align-items: center;
  padding:0 100px;
  position: absolute;
  margin-bottom:-700px;
  margin-right:250px;
}


.poesias{
  margin-top:800px;
}

.tit{
  margin:0 auto;
}


.imagens .boneca{
  height:300px;
  object-fit: contain;
}


.materiais{
  margin-top:100px;
  text-align:center;

}



 main .conteudo-titulo{
  justify-content: center;
  align-items: center;
 }

 main .divajuda{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap:50px;
}





.magicpattern{
  display: none;
}

.artesanatos{
  height: 100vh;
}


#musicas{
  margin-bottom:40px;
}

figcaption{
font-size:20px !important;

}

iframe{
  width: 300px;
  height:300px;
}



}



@media (max-width: 1214px) {
 
  .magicpattern{
    width: 300px !important;
    height: 300px !important;
    left:200px;
  }


  .boneca{
    height: 200px;
  }
}
